<h2>Adicionar amigos</h2>

<% if @all_users %>
  <% @all_users.each do |user| %>
    <p>
      <%= user %>
      <%= link_to 'add as friend', friendships_path(friend_id: user.id), method: :post %>
    </p>
  <% end %>
<% end %>

<h2>Lista de amigos</h2>

<% if @friends %>
  <% @friends.each do |friend| %>
    <p>
      <%= friend %>
      <%= link_to_destroy friendship_path(id: friend.id) %>
    </p>
  <% end %>
<% end %>